<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>403 Forbidden</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <header>
        <h1>403 Forbidden</h1>
    </header>
    <main>
        <p>You do not have permission to access this page.</p>
        <a href="{% url 'portfolio_home' %}">Return to Home</a>
    </main>
</body>
</html>