<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Colourful Visual Communication{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <header>
        <h1>My Site</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'profile' %}">Profile</a></li>
                <li><a href="{% url 'portfolio_list' %}">Portfolio Projects</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- Child templates will insert content here -->
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 Colourful Visual Communication</p>
    </footer>
</body>
</html>
